<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Group26 | Create Password</title>
    <!--  
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	-->
</head>
<body>
    <body class="container">
        <h1 class="py-5">New Password Form</h1>
        <form class="col card p-3 mb-5" method="post" th:action="@{/CreatePassword}" th:object="${password}">
          <div class="form-group">
            <label for="firstName">Username</label>
            <input class="form-control" name="username" placeholder="Enter Userame" required
                   th:field="*{username}" 
                   type="text"/>
          </div>
          <div class="form-group">
            <label for="lastName">Password</label>
            <input class="form-control" name="inputpassword" placeholder="Enter Password" required
                   th:field="*{inputpassword}"
                   type="password"/>
          </div>
          <div class="form-group">
            <label for="role">Password For</label>
            <input class="form-control" name="pw_for" placeholder="Enter Email" required
                   th:field="*{pw_for}"
                   type="text"/>
          </div>      
          <div class="form-group">
            <label for="folder">Which folder you wish to put in</label>
            <input class="form-control" name="folder_id" placeholder="Enter Folder ID" required
                   th:field="*{folder_id}"
                   type="number"/>
          </div>
          <div class="form-group">
            <label for="uid">what is ur uid</label>
            <input class="form-control" name="uid" placeholder="Enter Folder ID" required
                   th:field="*{uid}"
                   type="number"/>
          </div>
          <input class="btn btn-primary" type="submit" value="New Password">
        </form>
</body>
</html>