<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>G26 | Create Folder</title>
	<meta charset="utf-8">
    <!--  
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet"> 
	
	<link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
	<!--header-->
	<div id="header">
		<h1>Password Manager</h1>
	</div>
	<!--header end-->

	<!-- nav menu -->
	<div id="navmenu">
		<ul>
		 	<li><a href = "/password">My Passwords</a></li>
		 	<li><a href = "/folders">My Folders</a></li>
		 	<li>
			 	<form th:action="@{/logout}" method="post">
					<button type="submit" value="Sign Out" class="btn-link">Sign Out</button>
				</form>				
		 	</li>
		</ul>
	</div>
	<!-- nav menu end-->

	<!--main-->
	<div id="main">
		<div class="container text-center">
			<div>
				<h1>Create Folder</h1>
			</div>
			
			<div id="createFolder">
				<form th:action="@{/folders/process_folder}" th:object="${folder}"
					method="post" style="max-width: 600px; margin: 0 auto;">
					
					<div class="m-3">
						<div class="form-group row">
							<label>Folder Name: </label>
							<div class="col-8">
								<input type="text" th:field="*{fname}" class="form-control" required />
							</div>
						</div>  
						<div>
							<button type="submit" class="btn btn-primary">Create</button>
						</div>    
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--main end-->

	<!--footer-->
	<footer>
		<p>Group26 Ibrahim CS411</p>
	</footer>
	<!--footer end-->

</body>
</html>