<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>G26 | Passwords</title>
    <meta charset="utf-8">
	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	 <!--font-->
	 <link rel="preconnect" href="https://fonts.googleapis.com">
	 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	 <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet"> 
	 
	<link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}"/>

</head>

<body>

	<!--header-->
	<div id="header">
		<h1>Password Manager</h1>
	</div>
	<!--header end-->
	
	<!-- nav menu -->
	<div id="navmenu">
		<ul>
			<li><a href = "/password">My Passwords</a></li>
			<li><a href = "/folders">My Folders</a></li>
			<li>
				<form th:action="@{/logout}" method="post">
					<button type="submit" value="Sign Out" class="btn-link">Sign Out</button>
				</form>				
			</li>
		</ul>
	</div>
	<!-- nav menu end-->
	<!--main-->
	<div class="main">
		
		<h3>New Password</h3>
		<hr/>
		
		<div id="addPass">
			<form class="col card p-3 mb-5" method="post" th:action="@{/CreatePassword}" th:object="${password}">
                <div class="form-group">
                  <label for="firstName">Username</label>
                  <input class="form-control" name="username" placeholder="Enter Userame" required
                         th:field="*{username}" 
                         type="text"/>
                </div>
                <div class="form-group">
                  <label for="lastName">Password</label>
                  <input class="form-control" name="inputpassword" placeholder="Enter Password" required
                         th:field="*{inputpassword}"
                         type="password"/>
                </div>
                <div class="form-group">
                  <label for="role">Password For</label>
                  <input class="form-control" name="pw_for" placeholder="What this password is used for" required
                         th:field="*{pw_for}"
                         type="text"/>
                </div>      
                <div class="form-group">
                  <label for="folder">Which folder you wish to put in</label>
                  <input class="form-control" name="folder_id" placeholder="Enter Folder ID" required
                         th:field="*{folder_id}"
                         type="number"/>
                </div>
                <div class="form-group">
                  <label for="uid">what is ur uid</label>
                  <input class="form-control" name="uid" placeholder="Enter your user ID" required
                         th:field="*{uid}"
                         type="number"/>
                </div>
                <input class="btn btn-primary" type="submit" value="New Password">
              </form>
		</div>
		<hr/>
		<a th:href="@{/password}">Back to my passwords</a>
	</div>
	<!--main end-->

</body>
</html>