<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1><br>
<h2>Your passwords:</h2>

<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${passwords.empty}">
        <td colspan="2"> No Passwords Stored! </td>
    </tr>
    <tr th:each="password : ${passwords}">
        <td><span th:text="${password.getPid()}"> Title </span></td>
        <td><span th:text="${password.getUsername()}"> Author </span></td>
        <td><span th:text="${password.getPassword()}"> Author </span></td>
        <td><span th:text="${password.getPw_for()}"> Author </span></td>
        <td><span th:text="${password.getFolder().getFolder_id()}"> Author </span></td>
        <td>
            <form  th:action="@{/password/delete}"  method="post">
                <input type="hidden" name="pid" th:value="${password.getPid()}"   />
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>