<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration </title>
</head>
<body>
    <form th:action="@{/Register}" th:object="Newuser" method="post">
        <div><label> First Name : <input type="text" name="first_name"/> </label></div>
        <div><label> Last Name : <input type="text" name="last_name"/> </label></div>
        <div><label> Email: <input type="text" name="email"/> </label></div>
        <div><label> Password: <input type="password" name="password1"/> </label></div>
        <div><label> Confirm Password: <input type="password" name="password2"/> </label></div>
        <div><input type="submit" value="register"/></div>
    </form>
</body>
</html>